#app {
  color: #222222;
  background-color: #f5f5f5;
}
#app .menu svg path {
  color: #383838;
}
#app .router-link-exact-active svg path {
  color: #9B52D9;
}
#app .page-header {
  color: #9b52d9;
}
#app .page-main .button {
  background-color: #3e2d4b;
  color: #dfdfdf;
}
#app .page-main .button {
  background-color: #3e2d4b;
  color: #dfdfdf;
}
#app .button-list .button {
  background-color: #B8A5C7;
  color: #222222;
}
#app .container {
  background-color: #DFDFDF;
}
#app .container-header {
  color: #222222;
}
#app .container-header svg path {
  color: #222222;
}
#app .container-main .block span {
  color: #9b52d9;
}
#app .container-footer button {
  background-color: #9B52D9;
  color: #ffffff;
}
#app .container-footer button[disabled] {
  background-color: #9B52D930;
  color: #ffffff;
}
#app .tasks-list .task {
  background-color: #B8A5C7;
  color: #383838;
}
#app .tasks-list label {
  color: #9b52d9;
}
#app .settings-list .block span {
  color: #9b52d9;
}

#app.dark-theme.green .wishlist-check.checked svg {
  color: #9b52d9;
}
